.backpack-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2c3e50;     
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    max-width: 600px;
    border-radius: 12px;     
    z-index: 1000;
}

.close-buttonB {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .close-button:hover {
    background: #c0392b;
  }

.backpack-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backpack-popup h3 {
    margin: 0;
   
}

.backpack-popup .table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}

.backpack-popup table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

.backpack-popup th, .backpack-popup td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

.backpack-popup th {
    background-color: #e0e0e0;
}

.backpack-popup .money-section {
    margin-top: 20px;
}

.backpack-popup .money-section label {
    display: block;
    margin-bottom: 10px;
}


.backpack-popup .add-item-button,
.backpack-popup .remove-item-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}




.backpack-popup .add-item-button:hover,
.backpack-popup .remove-item-button:hover {
    background-color: #0056b3;
}



.backpack-popup .remove-item-button {
    background-color: #dc3545;
}

.backpack-popup .remove-item-button:hover {
    background-color: #c82333;
}

.backpack-popup input[type="text"],
.backpack-popup input[type="number"] {
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
}

.backpack-popup .add-item-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    font-size: 16px;
    transition: background-color 0.3s;
}

.backpack-popup .add-item-button:hover {
    background-color: #218838;
}

.backpack-popup .money-section input[type="number"] {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.backpack-popup .money-section input[type="number"]:focus {
    border-color: #007bff;
}